
#admin_header{
    height: 70px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #466078), color-stop(100%, #334c68));
}

#sub_title {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
}

.arrow-down::after{
    content: "";
    border-left: .255rem solid transparent;
    border-right: 0.255rem solid transparent;
    border-top: .255rem solid;
    top: 11px;
    left: 5px;
    position: relative;
}

.arrow-up::after{
    content: "";
    border-left: .255rem solid transparent;
    border-right: 0.255rem solid transparent;
    border-bottom: .255rem solid;
    top: -10px;
    left: 5px;
    position: relative;
}


a#dropdown_info{
    color:#FFF;
}

a:hover{
    text-decoration: none;
}


#admin_menu{
    width: 15%;
}

#admin_menu a{
    color:#FFF;
}

@media(max-width: 800px) {
    #admin_menu {
        visibility: hidden;
        /*position: fixed;*/
    }
    #show_menu{
        display: block !important;
    }
}

.active{
    color: #fff;
    background-color: #b3c734 !important;
}

#admin_menu li{
    border-bottom: 1px solid gray;
    height:40px;
}

table tr th{
    cursor:pointer;
}

#search_form input, #search_form .btn{
    border-radius:0px;
}

table.table{
    width:90%;
    margin: auto;
}
body{
    margin:0;
}
a{
    text-decoration: none;
}
#Header{
    background: white;
    width: 100%;
    height: 60px;
    margin: 0;
    padding:0;
    border-bottom: solid 1px #DAD9D9;
}
#Menu{
    background: #aaffaa;
    width: 100%;
    height: 77px;
    margin: 0;
    padding:0;
    border-bottom: solid 1px #DAD9D9;
}
#form{
    float: right;
    color: black;
    margin-top: 3px;
    margin-right: 100px;
}
#icon-card{
    float: right;
}
#Container div p{
    margin-top: 5px;
    margin-left: -14px;
    font-weight: bold;
}
.bt{
    margin-right: -5px;
}
#form2{
    color: black;
    float:left;
    margin-top: 17px;
    font-size: 18px;
    font-weight: bold;
}
#username{
    padding: 3px;
}
#password{
    padding:4px;
}
#bt{
    margin-right: -5px;
    padding: 9px;
    margin-top: -10px;
}
#tk{
    padding:9px;
}
#divLeft{
    width: 50%;
    float: left;
    background: #aaffaa;
    padding-top: 20px;
}
#divRight{
    width: 30%;
    float: left;
    background: #aaffaa;
    margin-top: 13px;
}
#divLeft ul li{
    float: left;
    margin-right: 60px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

div ul li ul{
    display: none;
    position: absolute;
    background:#aaffaa;
    z-index: 2;
}
div ul li:hover ul{
    display: block;

}
#divLeft ul li ul li{
    font-size:20px;
    color: black;
}

#Footer{
    background: #7f7f7f;
    padding:1px;
}
#Footer div p{
    font-size:17px;
}
#footer1{
    width: 50%;
    float: left;
    padding-left: 60px;
    padding-top: 15px;
}
#footer2{
    width: 50%;
    float: left;
    margin-left: -8px;
    padding-bottom: 0px;
    padding-left: 50px;
}
/* -------Content----------- */
#Container div  p{
    margin-top: 0px;
    margin-left: 1px;
    font-weight: bold;
}
#SanPham{
    float:left;
}


