#admin_menu{
    height: 1000px;
    min-width: 225px;
    background-color: #343a40;
    color:#FFF;
    float: left;
}
#admin_footer{
    clear: both;
    height: 70px;
    width: 100%;
    background-color: #b3c734;
}
#admin_content{
    margin-left: 30px;
    max-width: 1548px;
}
body{
    margin: 0px;
}
#admin_header{
    height: 70px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #466078), color-stop(100%, #334c68));
}
.text-white{
    color:#FFF;
}
.float-right{
    float: right;
}
.float-right.text-white{
    line-height: 70px;
    margin-right: 50px;
}
.float-right.text-white::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #FFF;
}
.dropbtn {
    background-color: unset;
    color: white;
    border: none;
    cursor: pointer;
    height: 70px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #343a40;
    z-index: 1;
    margin-top: 50px;
    right: 50px;
}

.dropdown-content a {
    color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;color: #343a40;}

.dropdown:hover .dropdown-content {
    display: block;
}
ul{
    margin-block-start: 0;
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
}
ul li{
    height: 50px;
    line-height: 40px;
    border-top: 1px solid gray;
}
ul li a{
    text-decoration: none;
    color:#FFF;
    display: inline-block;
    width: 100%;
    height: 100%;
}
ul li a:hover{
    background-color:gray;
}

.text-center{
    text-align: center;
}

.lh-70{
    line-height: 70px;
}

.text-xs {
    font-size: 13px;
}

#sub_title {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
}
hr {
    margin-left: 5px;
    margin-right: 5px;
}

table{
    border: 1px solid lightgray;
    border-radius: 5px;
    border-spacing: 0px;
    width: 80%;
    margin: auto;
}

table tr th, table tr td{
    border: 1px solid lightgray;
    text-align: center;
    height: 38px;
}
#money::after{
    content: " VND";
}

.text_none{
    text-decoration: none;
}

.text-dark{
    color: #b3c734;
}

